*.log
node_modules
.env
npm-debug.*
.DS_Store
.vscode
yarn-error.log
debug.log
coverage

logs

postgres-data
redis-data

.env.*
# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml

./config/fcmCredentials.test.json
./config/fcmCredentials.local.json
./config/fcmCredentials.prod.json

secrets