*.log
node_modules
.env
npm-debug.*
.DS_Store
.vscode
yarn-error.log
debug.log
coverage

logs

postgres-data
redis-data

.env.*

fcmCredentials.test.json
fcmCredentials.local.json
fcmCredentials.prod.json

secrets

